<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PieShopProject</title>
    <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxTg3XfnxSev9VUH1pUrbi2-WnZy8-O_zG0w&usqp=CAU" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PieShopProject.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Bootswatchcss.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.2/font/bootstrap-icons.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />

</head>
<body background="https://tse1.mm.bing.net/th/id/OIP.P9Nw_HxKNIa8S_wxdjbF5AHaEK?w=319&h=180&c=7&r=0&o=5&pid=1.7">

    <header>
        <partial name="_AlertPartialView" />
        <partial name="_NavBarPartial" />

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
   

    @*<footer class="border-bottom" style="position:absolute; bottom:0;">

        <div class="container">
            &copy; 2022 - PieShop

        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
